<div class="product-list-component">
  <data-table
    [items]="items"
    [itemCount]="itemCount"
    [indexColumn]="true"
    [pagination]="true"
    [header]="true"
    (reload)="reloadItems($event)"
    (rowClick)="rowClick($event)"
    (rowDoubleClick)="rowDoubleClick($event)"
    (headerClick)="headerClick($event)"
    (cellClick)="cellClick($event)"
    [rowTooltip]="rowTooltip">
    <div data-table-column property="code" header="Code" resizable="true">
    </div>
    <div data-table-column property="name" header="Name" sortable="true" resizable="true">
    </div>
    <div data-table-column property="manufacturer" header="Manufacturer" resizable="true">
    </div>
    <div data-table-column property="price" header="Price" sortable="true">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.price.formattedValue}}</span>
      </ng-template>
    </div>
    <div data-table-column property="stock" header="Stock" resizable="true">
      <ng-template #dataTableCell let-item="item">
        <span class="fa fa-check" *ngIf="item.stock.stockLevelStatus === 'inStock'"></span>
        <span class="fa fa-times" *ngIf="item.stock.stockLevelStatus !== 'inStock'"></span>
      </ng-template>
    </div>
  </data-table>
</div>
